<!DOCTYPE html>
<html>
<head>
	<title>Hop</title>
	<link rel="stylesheet" href="./public/css/styles.css"/>
</head>
<body>
    <div class="notFooter">
    <div class="centered text-center animate fadeIn contain">
<h1>Hop</h1>
<p>Simple chatting</p>
<form action="/newHop" method="POST">
    <button class="btn btn-outline">New Hop</button>
</form>
</div>
</div>
<footer id="footer" class="text-center">
        Made with <span id="heart" class="animate pulse">&#9825;</span> By <a href="http://kingpixil.github.io/Me" target="_blank">Kabir</a>
</footer>
</div>
<script src="./public/js/lib/paint.min.js"></script>
<script src="./public/js/loader.js"></script>
<script src="./public/js/scripts.js"></script>
</body>
</html>